<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project x</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="container">

            <nav class="nav">
                <ul class="menu">

                    <div class="logo-hooter">
                        <img src="img/logo.jpg" alt="logo" class="logo">
                    </div>
                    <li class="menu-item">

                        <a class="menu-link" href="#">Главная</a>
                        <a class="menu-link" href="#">По рейтингу</a>
                        <a class="menu-linkk" href="#">Войти</a>
                        <a class="menu-linkk" href="#">|</a>
                        <a class="menu-linkk" href="#">Регистрация </a>


                    </li>



                </ul>

            </nav>




            <!-- <div class="poisk">

            <input class="input" type="text" name="" placeholder="Поиск фильма">

            <button class="inputt">
                <ion-icon name="search-outline"></ion-icon>
            </button>

        </div> -->

            <form>
                <input type="text" nane="text" class="search" placeholder="Поиск ">
                <!-- <input type ="submit" name="submit" value="?">  -->

                <button class="inputt"><ion-icon name="search-outline"></ion-icon></button>
            </form>
            <div id="lll">
                <h1>ЖАНРЫ</h1>
            </div>

            <div class="janr">
                <div class="cart" id="aaa">
                    <a href="" style="color: black">
                        <h3>Детектив</h3>
                    </a>
                </div>
                <div class="cart" id="bbb">
                    <a href="" style="color: black">
                        <h3>Драма</h3>
                    </a>
                </div>
                <div class="cart" id="ccc">
                    <a href="" style="color: black">
                        <h3>Мелодрама</h3>
                    </a>
                </div>
            </div>


            <div class="janr">
                <div class="cart" id="ddd">
                    <a href="" style="color: black">
                        <h3>Боевик</h3>
                    </a>
                </div>
                <div class="cart" id="hhh">
                    <a href="" style="color: black">
                        <h3>Вестерн</h3>
                    </a>
                </div>
                <div class="cart" id="iii">
                    <a href="" style="color: black">
                        <h3>Комедия</h3>
                    </a>
                </div>
            </div>


            <br><br><br>








        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </header>


</body>

</html>